*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
  
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #FFC436;
}
  
.btn {
    border: none;
    padding: 1rem 4rem;
    background: #191D88;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}
  
.btn:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -10px;
    left: -10px;
    border-top: 4px solid #191D88;
    border-left: 4px solid #191D88;
    transition: all 0.25s;
}
  
.btn:hover:before,.btn:hover:after {
    height: 125%;
    width: 155%;
}
  
.btn:after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid #191D88;
    border-right: 4px solid #191D88;
    transition: all 0.25s;
}

@media screen and (max-width:550px) {
      
    .btn:hover:before,.btn:hover:after {
        height: 120%;
        width: 125%;
    }
  
}
