@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html,body {
  background-color: #EEF5FF;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gurucodes {
  width: 450px;
  padding: 20px;
  margin: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

h1 {
  background: #023b4e;
  font-weight: 300;
  padding: 25px 40px;
  text-align: center;
  border-radius: 18px;
  color: white;
}

.gurucodes form input {
  width: 100%;
  outline: none;
  border: 1.5px solid #ccc;
  height: 65px;
  border-radius: 5px;
  padding: 0 10px;
  background: #fff;
  margin-bottom: 15px;
  font-size: 18px;
}

.gurucodes form button {
  width: 100%;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 3px;
  background: #023b4e;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.gurucodes form #qrcode-container {
  display: none;
  justify-content: center;
}

.gurucodes form .qrcode {
  padding: 10px;
  margin-bottom: 15px;
}

.gurucodes form .qrcode img {
  margin: 0 auto;
  box-shadow: 0 2px 3px rgba(67, 67, 68, 0.25);
  padding: 4px;
}
