
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #765827;
}

.container {
  background-color: #ffe7c7;
  /* color: #0E8388; */
  width: 400px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.3),
     5px 5px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #261a05;
  letter-spacing: 5px;
}

.count {
  font-size: 70px;
}

.buttonholder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.btn {
  color: black;
  padding: 10px 20px;
  outline: none;
  /* border: 1px solid black; */
  border: none;
  background-color: #C8AE7D;
  box-shadow: 2px 2px 20px #e1bb74;
  cursor: pointer;
}

.btn:active {
  position: relative;
  top: 1px;
  left: 1px;
  box-shadow: none;
}

.reset {
  color: white;
  background-color: #49340e;
  padding: 3px 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.reset:active {
  transform: scale(0.95);
}