@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Russo One";
    letter-spacing: 2px;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 67, 0.686);
}

#image{
    height: 60%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

img{
    height: 100%;
}

img:hover{
    box-shadow: 1px 5px 25px rgba(255, 16, 16, 0.925);
    cursor: pointer;
}
