@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #01164f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}    

h1{
    color: wheat;
}

.emoji{
    font-size: 7rem;
    cursor: pointer;
    user-select: none;
}

.closed{
    display: none;
}

.open{
    display: none;
}

.active{
    display: block;
}