*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 15px 28px;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    font-family: Gilroy;
    font-size: 18px;
    cursor: pointer;
}
