/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
}

.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 10px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.circular-bar{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(orange 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-bar::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}

.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: orange;
}

.text{
    font-size: 30px;
    font-weight: 600;
    color: orange;
}



@media screen and (max-width:550px) {
    .container{
        width: 350px;
    }
}